<h4 class="modal-title">New lesson</h4>
<form [formGroup]="addLesson" (ngSubmit)="onAddLesson()">
  <div class="form-group">
    <label for="name">
      Lesson name
    </label>
    <input type="text" formControlName="name" name="name" id="name" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>
    <textarea type="text" formControlName="description" name="description" id="description" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <div class="file has-name">
      <label class="file-label">
        <input class="file-input" type="file" name="resume" (change)="handleFileInput($event.target.files)">
        <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
        <span class="file-name">
      Screen Shot 2017-07-29 at 15.54.25.png
    </span>
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="button is-success">Save</button>
    <button (click)="closeDialog()" class="button is-light">Cancel</button>
  </div>
</form>
