<div class="list_item_details__container list_item_details__container--smaller">
    <div class="title">
        {{level.name}}
    </div>

    <div class="btns_holder">
        <button (click)="editLevel()" class="button is-info is-small btn_edit">
            Edit
        </button>
        <button (click)="deleteLevel()" class="button is-danger is-small">
            Delete
        </button>
    </div>

    <div class="level_list_item">
        <div class="level_list_item_details">
            <div class="data_holder__title level_list_item_details__title">
                Classes
            </div>
            <app-list [list]="level.schoolClasses" [path]="'./classes'"></app-list>
            <div class="create_button_holder">
                <button (click)="openClassModal()" class="button is-small is-dark">New Class</button>
            </div>
        </div>
        <div class="level_list_item_details">
            <div class="data_holder__title level_list_item_details__title">
                Subjects
            </div>
            <app-list [list]="level.subjects" [path]="'./subjects'"></app-list>
            <div class="create_button_holder">
                <button (click)="openSubjectModal()" class="button is-small is-dark">New Subject</button>
            </div>
        </div>
    </div>

</div>