.level_list_item {
    display: flex;
    justify-content: space-around;
    &_details {
        width: 40%;
        &__title {
            text-align: center;
            font-size: 1.6em;
        }
    }
}