<section class="section main-container">
  <app-header></app-header>

  <div class="container">
    <div class="columns">
      <div class="column is-3-desktop">
        <app-sidebar></app-sidebar>
      </div>
      <div class="column is-9-desktop st-pusher" id="content">
        <div class="st-content" style="overflow: scroll">

          <!-- extra div for emulating position:fixed of the menu -->
          <div class="st-content-inner padding-none">

            <div class="container-fluid">

              <div class="page-section">
                <div class="media v-middle">
                  <div class="media-body">
                    <h1 class="text-headline margin-none">Your grade book</h1>
                    <p class="text-subhead">Grades for each course and final grade.</p>
                  </div>
                </div>
              </div>

              <div class="grade-table">
                <table class="table is-bordered is-fullwidth">
                  <thead>
                  <tr class="is-primary-light">
                    <th>Course name</th>
                    <th>Course Status</th>
                    <th>Level</th>
                    <th>Teacher Name</th>
                    <th>Grade</th>
                  </tr>
                  </thead>
                  <tfoot>
                  <tr class="is-success-light">
                    <th colspan="5">Average grade: C</th>
                  </tr>
                  </tfoot>
                  <tbody>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>John Doe</td>
                    <td>A</td>
                    <td>A</td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

