<section class="section main-container">
  <app-header></app-header>

  <div class="container">
    <div class="columns">
      <div class="column is-3-desktop">
        <app-sidebar></app-sidebar>
      </div>
      <div class="column is-9-desktop st-pusher profile-container" id="content">
        <div class="st-content">
          <!-- extra div for emulating position:fixed of the menu -->
          <div class="st-content-inner padding-none">
            <div class="container-fluid">
              <section class="hero">
                <div class="hero-body">
                  <div class="container">
                    <h1 class="title is-3">
                      User Profile - {{getRole()}}
                    </h1>
                  </div>
                </div>
              </section>

              <div class="profile-information">
                <div class="profile-information-left">
                  <h2 class="title is-6">First Name:</h2>
                  <h2 class="title is-6">Last Name:</h2>
                  <h2 class="title is-6">Email:</h2>
                  <h2 class="title is-6">Role:</h2>
                  <h2 class="title is-6">Gender:</h2>
                </div>
                <div class="profile-information-right">
                  <h2 class="title is-6">{{getUserName()}}</h2>
                  <h2 class="title is-6">{{getLastName()}}</h2>
                  <h2 class="title is-6">{{getEmail()}}</h2>
                  <h2 class="title is-6">{{getRole()}}</h2>
                  <h2 class="title is-6">{{getGender()}}</h2>
                </div>
                <div class="relation-verification">
                  <table class="table" *ngIf="getRole() == 'PARENT'">
                    <thead>
                      <tr>
                        <th>Children</th>
                        <th>Status of verification</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Rinor</td>
                        <td>Verified</td>
                      </tr>
                      <tr>
                        <td>Jehona</td>
                        <td>Not Verified</td>
                      </tr>
                      <tr>
                        <td>Ilir</td>
                        <td>Verified</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
