<div class="student_association_form">
    <div class="title">
        Student Association Request
    </div>

    <form [formGroup]="studentAssociationForm">
        <div class="form-group">
            <label for="email">
                Student Email
            </label>
            <input type="email" formControlName="email" name="email" id="email" class="form-control" />
        </div>

        <button (click)="associateWithStudent()" class="btn btn-success">Send</button>
    </form>
</div>