<div class="container">
  <div class="card card-container">
    <img
      id="profile-img"
      class="profile-img-card"
      src="../../../../assets/img/user_profile.png"
    />
    <h1 class="auth-text-body">Sign Up</h1>
    <p id="profile-name" class="profile-name-card"></p>
    <form [formGroup]="registerForm" (submit)="onRegisterSubmit()" class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <input
        formControlName="firstName"
        type="text"
        id="registerFirstName"
        class="form-control"
        placeholder="First Name"
        required
        autofocus
      />
      <input
        formControlName="lastName"
        type="text"
        id="registerLastName"
        class="form-control"
        placeholder="Last Name"
        required
      />
      <select formControlName="role" class="form-control register-fields" id="role" name="role">
        <option value="STUDENT">Student</option>
        <option value="PARENT">Parent</option>
        <option value="TEACHER">Teacher</option>
        <option value="SCHOOL_ADMIN">School Admin</option>
      </select>
      <input
        formControlName="birthDate"
        type="date"
        id="registerBirthDate"
        class="form-control register-fields"
        placeholder="Birth Date"
        required
      />
      <select formControlName="gender" class="form-control register-fields" id="gender" name="gender">
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
      </select>
      <input
        formControlName="email"
        type="email"
        id="registerEmail"
        class="form-control"
        placeholder="Email address"
        required
      />
      <input
        formControlName="password"
        type="password"
        id="registerPassword"
        class="form-control"
        placeholder="Password"
        required
      />
      <button class="button is-success" type="submit">
        Sign Up <i class="fas fa-user-plus"></i>
      </button>
    </form>
    <!-- /form -->
  </div>
  <!-- /card-container -->
</div>
<!-- /container -->
