<section class="section main-container">
    <app-header></app-header>
  
    <div class="container">
      <div class="columns">
        <div class="column is-3-desktop">
          <app-sidebar></app-sidebar>
        </div>
        <div
          class="column is-9-desktop st-pusher"
          style="width: 85%; margin-top: 5%;"
          id="content"
        >
          <div class="st-content">
            <!-- extra div for emulating position:fixed of the menu -->
            <div class="st-content-inner padding-none">
              <div class="container-fluid">
                <div class="messaging">
                  <div class="inbox_msg">
                    <app-chat-conversation-list></app-chat-conversation-list>
                    <!-- <app-chat-conversation-box></app-chat-conversation-box> -->
                    <router-outlet></router-outlet>
                  </div>
                </div>
              </div>
            </div>
            <!-- /st-content-inner -->
          </div>
          <!-- /st-content -->
        </div>
      </div>
    </div>
  </section>
