<div class="container">
        <div class="card card-container">
          <img
            id="profile-img"
            class="profile-img-card"
            src="../../../../assets/img/user_profile.png"
          />
          <h1 class="auth-text-body">Forgot Password?</h1>
          <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input
              type="email"
              id="forgotPasswordEmail"
              class="form-control"
              placeholder="Email address"
              required
              autofocus
            />
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
              Forgot Password? <i class="fas fa-lock"></i>
            </button>
          </form>
        </div>
        <!-- /card-container -->
      </div>
      <!-- /container -->