<div class="page-section">
  <div class="media v-middle">
    <div class="media-body">
      <h1 class="text-headline margin-none">Library</h1>
      <p class="text-subhead">Browse through thousands of lessons.</p>
    </div>
    <div class="media-right">
      <div class="width-100 text-right">
        <div class="btn-group">
          <a class="btn btn-grey-800" routerLink="/courses/grid"><i class="fa fa-th"></i></a>
          <a class="btn btn-white" routerLink="/courses/list"><i class="fa fa-list"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" data-toggle="isotope">

  <div *ngFor="let course of courses">
    <div class="item col-xs-12 col-sm-6 col-lg-4">
      <div class="panel panel-default paper-shadow" data-z="0.5">

        <div class="panel-heading">
          <h4 class="text-headline margin-v-0-10"><a>{{course.name}}</a></h4>

        </div>
        <hr class="margin-none" />
        <div class="panel-body">

          <p>{{course.description}}</p>

        </div>
        <div class="panel-footer">
          <h4><a href="">{{course.teacherId}}</a>
            <br/>
          </h4>
          Teacher
        </div>
      </div>
    </div>
  </div>

</div>
