<div class="container">
        <div class="card card-container">
          <img
            id="profile-img"
            class="profile-img-card"
            src="../../../../assets/img/user_profile.png"
          />
          <h1 class="auth-text-body">Reset Password</h1>
          <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input
              type="password"
              id="newPassword"
              class="form-control"
              placeholder="New Password"
              required
            />
            <input
              type="password"
              id="oldPassword"
              class="form-control"
              placeholder="Old Password"
              required
            />
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
              Reset Password <i class="fas fa-paper-plane"></i>
            </button>
          </form>
          <!-- /form -->
        </div>
        <!-- /card-container -->
      </div>
      <!-- /container -->
      