<div class="school__container">
    <div class="school__nav">
        <school-nav-item routerLink="/school/settings" routerLinkActive="school__nav_element--selected"
            class="school__nav_element" [title]="'School Settings'">
        </school-nav-item>
        <school-nav-item routerLink="/school/levels" routerLinkActive="school__nav_element--selected"
            class="school__nav_element" [title]="'Level Management'">
        </school-nav-item>
        <school-nav-item routerLink="/school/classes" routerLinkActive="school__nav_element--selected"
            class="school__nav_element" [title]="'Class Management'">
        </school-nav-item>
        <school-nav-item routerLink="/school/teachers" routerLinkActive="school__nav_element--selected"
            class="school__nav_element" [title]="'Teacher Management'">
        </school-nav-item>
        <school-nav-item routerLink="/school/subjects" routerLinkActive="school__nav_element--selected"
            class="school__nav_element" [title]="'Subject Management'">
        </school-nav-item>
    </div>

    <router-outlet></router-outlet>

</div>