.school__container {
    margin-left: auto;
    margin-right: auto;
}
.school__nav {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #eae9e9;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
    &_element {
        border-right: 1px solid #eae9e9;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        cursor: pointer;
        background-color: white;
    }
    & :last-child {
        border: none;
    }
}




.school__nav_element--selected {
    color: #42a5f5;
}
