<form [formGroup]="studentInsertionForm">
    <div class="form-group">
        <label for="name">
            Class name
        </label>
        <input type="text" formControlName="name" name="name" id="name" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="email">
            Student Email
        </label>
        <input type="email" formControlName="email" name="email" id="email" class="form-control"/>
    </div>

    <button (click)="insertStudent()" class="button is-success">Send</button>
</form>
