<section class="section main-container">
  <app-header></app-header>

  <div class="container">
    <div class="columns">
      <div class="column is-3-desktop">
        <app-sidebar></app-sidebar>
      </div>
      <div class="column is-9-desktop st-pusher" id="content">
        <div class="st-content">

          <!-- extra div for emulating position:fixed of the menu -->
          <div class="st-content-inner padding-none">

            <div class="container-fluid">

              <div class="page-section">
                <div class="media v-middle">
                  <div class="media-body">
                    <h1 class="text-headline margin-none">Notifications</h1>
                    <p class="text-subhead">List of all your notifications.</p>
                  </div>
                  <div class="media-right">
                    <button class="button is-info-light is-outlined"><i class="fa fa-tag fa-fw"></i> MARK ALL AS READ</button>
                  </div>
                </div>
              </div>
              <div class="item col-xs-12 col-lg-12">
                <div class="panel panel-default paper-shadow" data-z="0.5">
                  <ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated>
                    <li class="list-group-item v-middle">
                      <div class="media-body">
                        <h4 class="text-subhead margin-none">
                          <a class="link-text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.</a>
                        </h4>
                      </div>
                      <div class="media-right">
                        <button class="button is-info-light is-outlined"><i class="fa fa-tag fa-fw"></i> Mark as Read</button>
                        <button class="button is-danger-light is-outlined"><i class="fa fa-trash fa-fw"></i> Delete</button>
                      </div>
                    </li>
                    <li class="list-group-item v-middle">
                      <div class="media-body">
                        <h4 class="text-subhead margin-none">
                          <a class="link-text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.</a>
                        </h4>
                      </div>
                      <div class="media-right">
                        <button class="button is-info-light is-outlined"><i class="fa fa-tag fa-fw"></i> Mark as Read</button>
                        <button class="button is-danger-light is-outlined"><i class="fa fa-trash fa-fw"></i> Delete</button>
                      </div>
                    </li>
                    <li class="list-group-item v-middle">
                      <div class="media-body">
                        <h4 class="text-subhead margin-none">
                          <a class="link-text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.</a>
                        </h4>
                      </div>
                      <div class="media-right">
                        <button class="button is-info-light is-outlined"><i class="fa fa-tag fa-fw"></i> Mark as Read</button>
                        <button class="button is-danger-light is-outlined"><i class="fa fa-trash fa-fw"></i> Delete</button>
                      </div>
                    </li>
                    <li class="list-group-item v-middle">
                      <div class="media-body">
                        <h4 class="text-subhead margin-none">
                          <a class="link-text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.</a>
                        </h4>
                      </div>
                      <div class="media-right">
                        <button class="button is-info-light is-outlined"><i class="fa fa-tag fa-fw"></i> Mark as Read</button>
                        <button class="button is-danger-light is-outlined"><i class="fa fa-trash fa-fw"></i> Delete</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
