<div class="list_item_details__container">
    <div class="school_content">
    
            <div class="title">
                {{ schoolClass.name }}
            </div>
            <div class="data_holder__title">
                Level
            </div>
            <div class="data_holder__content">
                {{ schoolClass.levelId }}
            </div>
            <div class="data_holder__title">
                Status
            </div>
            <div class="data_holder__content">
                {{ schoolClass.classStatus }}
            </div>
            <div class="data_holder__title">
                Students
            </div>
            <div class="data_holder__content" *ngFor="let student of schoolClass.students">
                {{ student.firstName + " " + student.lastName }}
            </div>
        </div>
    </div>