<section class="section main-container calendar-main-container">
  <app-header></app-header>

  <div class="container">
    <div class="columns">
      <div class="column is-3-desktop">
        <app-sidebar></app-sidebar>
      </div>
      <div class="column is-9-desktop st-pusher" style="width:90%"id="content">
      <div class="st-content" style="overflow: scroll">

          <!-- extra div for emulating position:fixed of the menu -->
          <div class="st-content-inner padding-none">

            <div class="container-fluid">

              <div class="list_item_details__container">
                <div class="back_navigation_holder" routerLink="../../">
                  <i class="fas fa-arrow-alt-circle-left fa-lg"></i> Kthehu prapa te Klasat
                </div>

                <div class="list_item_details__container--inner">
                  <div class="btns_holder">
                    <button (click)="openStudentInsertionModal()" class="button is-light btn_edit">Shto student
                    </button>
                    <button (click)="editClass()" class="button is-success btn_edit">
                      Edit
                    </button>
                    <button (click)="deleteClass()" class="button is-danger">
                      Fshij
                    </button>
                  </div>

                  <div class="data_holder__title">
                    Emri i paraleles
                  </div>
                  <div *ngIf="schoolClass" class="title">
                    {{ schoolClass.name }}
                  </div>

                  <div class="data_holder__title">
                    Klasa
                  </div>
                  <div *ngIf="schoolClass" class="data_holder__content">
                    {{ schoolClass.levelName }}
                  </div>
                  <div class="data_holder__title">
                    Statusi
                  </div>
                  <div *ngIf="schoolClass" class="data_holder__content">
                    {{ schoolClass.classStatus }}
                  </div>
                  <div class="data_holder__title">
                    Studentët
                  </div>
                  <ng-template [ngIf]="schoolClass">
                    <div class="data_holder__content" *ngFor="let student of schoolClass.students">
                      {{ student.firstName + " " + student.lastName }}
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
