.table{
  a{
    text-decoration: none;
    color: #363636!important;
    &:hover{
      text-decoration: none;
    }
  }
}

.margin-none{
  margin: 0;
}

.text-light {
  color: #757575!important;
}

.page-section{
  margin-top: 3px;

  h1{
    font-size: xx-large;
    font-weight: bold;
  }

  button{
    border:1px solid #efefef;
  }
}

.is-green{
  color: #48c774;
}

.is-red{
  color: #f14668;
}

.is-yellow{
  color: #ffdd57;
}

.is-primary-light{
  background-color: #fffbeb;
  color: #947600!important;

  th{
    color: #947600!important;
  }
}

.is-danger-light{
  background-color: #feecf0;
  color: #cc0f35!important;

  td{
    color: #cc0f35!important;
  }
}

.is-success-light{
  background-color: #effaf3;
  color: #257942!important;

  td,th{
    color: #257942!important;
  }
}

.is-info-light{
  background-color: #eef6fc;
  color: #1d72aa!important;
}

.is-black{
  color: #4a4a4a;
}

.is-green{
  color: #257942!important;
}

body{
  font-size: 0.9rem!important;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.pdf-icon{
  height: 24px;
}
