.margin-none{
  margin: 0;
}

.text-light {
  color: #757575!important;
}

.page-section{
  margin-top: 3px;

  h1{
    font-size: xx-large;
    font-weight: bold;
  }

  button{
    border:1px solid #efefef;
  }
}

.is-green{
  color: #48c774;
}

.is-red{
  color: #f14668;
}

.is-yellow{
  color: #ffdd57;
}
