<div class="item col-xs-12 col-lg-12">
  <h4 class="page-section-heading">My Schedule</h4>
  <div class="panel-default">
    <div class="panel-body">
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th colspan="1" class="text-left"><a><i class="fas fa-angle-left"></i></a></th>
            <th colspan="7" class="text-center">20/05/2020 - 27/05/2020</th>
            <th colspan="1" class="text-right"><a><i class="fas fa-angle-right"></i></a></th>
          </tr>
        </thead>
        <tr class="is-success-light">
          <td></td>
          <td>8:30-9:30</td>
          <td>9:30-10:30</td>
          <td>10:3-11:30</td>
          <td>11:30-12:30</td>
          <td>12:30-2:00</td>
          <td>2:00-3:00</td>
          <td>3:00-4:00</td>
          <td>4:00-5:00</td>
        </tr>
        <tr>
          <th>MONDAY</th>
          <td >---
          <td>SUB1<br></td>
          <td>SUB2<br></td>
          <td >SUB3<br></td>
          <td ></td>
          <td >SUB4<br></td>
          <td >SUB5<br></td>
          <td >counselling</td>
        </tr>
        <tr>
          <th>TUESDAY </th>
          <td ><br></td>
          <td >SUB2<br></td>
          <td >SUB3<br></td>
          <td >---</td>
          <td ></td>
          <td >SUB4<BR></td>
          <td >SUB5<br></td>
          <td >library</td>
        </tr>
        <tr>
          <th >WEDNESDAY</th>
          <td >SUB1<br></td>
          <td >SUB2<BR></td>
          <td >SWA<br></td>
          <td >---</td>
          <td> lab</td>
          <td> lab</td>
          <td> lab</td>
          <td ></td>
        </tr>
        <tr>
          <th >THURSDAY</th>
          <td >SUB1<br></td>
          <td >SUB2<BR></td>
          <td >SWA<br></td>
          <td >---</td>
          <td> lab</td>
          <td> lab</td>
          <td> lab</td>
          <td ></td>
        </tr>
        <tr>
          <th >FRIDAY</th>
          <td >SUB1<br></td>
          <td >SUB2<BR></td>
          <td >SWA<br></td>
          <td >---</td>
          <td> lab</td>
          <td></td>
          <td> lab</td>
          <td> lab</td>
        </tr>
        <tr>
          <th >SATURDAY</th>
          <td >SUB1<br></td>
          <td >SUB2<BR></td>
          <td >SWA<br></td>
          <td >ddd</td>
          <td> lab</td>
          <td> lab</td>
          <td ></td>
          <td> lab</td>
        </tr>
      </table>

      <!-- Button trigger modal -->

      <!-- Student Modal -->
      <div class="modal fade" id="time-slot-modal-student" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Biology - Monday</h5>
            </div>
            <div class="modal-body">
              <p><b>Start time: </b>09:15</p>
              <p><b>End time: </b>11:15</p>
              <br>
              <p><b>Description:</b> </p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum explicabo porro a, et dicta nihil vero facere eaque aut cum aliquid, commodi libero voluptatibus dignissimos ea consequatur quisquam, quidem provident!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>

      <!-- Teacher Modal -->
      <div class="modal fade" id="time-slot-modal-teacher" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Biology - Monday</h5>
            </div>
            <div class="modal-body">
              <p><b>Start time: </b>09:15</p>
              <p><b>End time: </b>11:15</p>
              <br>
              <label for="reply">Description</label>
              <textarea id="reply" class="form-control" placeholder="description ..">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis iusto culpa autem nesciunt reiciendis architecto adipisci, sed corporis, quisquam quid</textarea>
              <br>
              <button type="button" class="btn btn-warning">Edit Student's Presence</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
