<aside class="menu sidebar">
  <ul class="menu-list">
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li>
      <a class="">Courses</a>
      <ul>
        <li><a routerLink="/courses/grid">Course list</a></li>
        <li><a routerLink="/courses/course-detail/forum/list">Course Forum</a></li>
        <li><a routerLink="/courses/course-detail/forum/list">Course Activities</a></li>
      </ul>
    </li>
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside>
