<aside class="menu sidebar">
  <ul class="menu-list">
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li>
      <a class="">Courses</a>
      <ul>
        <li><a routerLink="/courses/grid">Course list</a></li>
        <li><a routerLink="/courses/course-detail/forum/list">Course Forum</a></li>
        <li><a routerLink="/courses/course-detail/activity/list">Course Activities</a></li>
        <li><a routerLink="/courses/course-detail/grade-list">Course grades</a></li>
      </ul>
    </li>
    <li><a routerLink="/grade-book">Grade Book</a></li>
    <li><a routerLink="/notification">Notification</a></li>
    <li><a>Schedule</a>
      <ul>
        <li><a routerLink="/schedule/general-settings">General Settings</a></li>
        <li><a routerLink="/schedule/view">Schedule view</a></li>
        <li><a routerLink="/schedule/presence">Presence(Remove)</a></li>
        <li><a routerLink="/schedule/create/periodic">Create Schedule</a></li>
      </ul>
    </li>
    <li><a>School</a>
      <ul>
        <li><a routerLink="/school/settings">School Settings</a></li>
        <li><a routerLink="/school/levels">Level Management</a></li>

      </ul>
    </li>

  </ul>
</aside>