<div *ngIf="course">
  <div class="course-header">
    <ul>
      <li class=""><a routerLink="../../forum/list/{{course.id}}">Forum</a></li>
      <li class=""><a routerLink="../../activity/list/{{course.id}}">Activity</a></li>
      <li class=""><a routerLink="../../forum/list/{{course.id}}">GradeBook</a></li>
    </ul>
  </div>
  <div class="page-section">
    <div class="media v-middle">
      <div class="media-body">
        <h1 class="text-headline margin-none">{{course.name}}</h1>
        <p class="text-subhead">{{course.description}}</p>
      </div>
      <div class="media-right" *ngIf="getRole() === 'TEACHER'">
        <button (click)="openModalEditCourse()" class="button is-white" data-z="0.5" data-hover-z="1" data-animated><i class="fa fa-fw fa-plus"></i> Edit Course</button>
      </div>
    </div>
  </div>

  <div class="lesson-button text-right" *ngIf="getRole() === 'TEACHER'">
    <button (click)="openModalAddLesson()" class="button is-white"><i class="fa fa-fw fa-plus"></i> Add lesson</button>
  </div>
  <div *ngFor="let lesson of lessons">
    <div class="panel panel-default paper-shadow" data-z="0.5">

      <div class="panel-heading">
        <h4 class="text-headline margin-v-0-10"><a class="is-green" routerLink="/">{{lesson.name}}</a></h4>
      </div>
      <hr class="margin-none" />
      <div class="panel-body">

        <p>{{lesson.description}}</p>

<!--        <div *ngFor="let fileUpload of getFileUploadByLessonId(lesson.id)">-->
<!--          <div class="lesson-file">-->
<!--            <a class="" onclick="" href="assets/img/Claim Application Form Student IN and Student UT.pdf">-->
<!--              <img src="assets/img/pdf-icon.png" class="pdf-icon" alt="" role="presentation">-->
<!--              <span class="is-black document-name">{{fileUpload.originalName}}</span>-->
<!--            </a>-->
<!--            <span class="resourcelinkdetails">PDF document Uploaded {{fileUpload.uploadTime}}</span>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
