<div class="list_item_details__container">
    <div class="back_navigation_holder" routerLink="../../">
        <i class="fas fa-arrow-alt-circle-left fa-lg"></i> Back to Levels
    </div>
    <div class="list_item_details__container--inner">
        <div class="btns_holder">
            <button (click)="editSubject()" class="button is-info is-small btn_edit">
                Edit
            </button>
            <button (click)="deleteSubject()" class="button is-danger is-small">
                Delete
            </button>
        </div>

        <div class="data_holder__title">
            Subject name
        </div>
        <div *ngIf="schoolSubject" class="title">
            {{schoolSubject.name}}
        </div>

        <div class="data_holder__title">
            Level
        </div>

        <div *ngIf="schoolSubject" class="data_holder__content">
            {{schoolSubject.levelName}}
        </div>

        <div class="data_holder__title">
            Description
        </div>
        <div *ngIf="schoolSubject" class="data_holder__content">
            {{schoolSubject.description}}
        </div>
        <div class="data_holder__title">
            Type
        </div>
        <div *ngIf="schoolSubject" class="data_holder__content">
            {{  schoolSubject.subjectType  }}
        </div>
    </div>


    <button class="button is-dark is-small btn-create" (click)="openModal()">Create course</button>
</div>