<div class="list_item_details__container">
    <div class="school_content">
    
            <div class="title">
                {{schoolSubject.name}}
            </div>

            <div class="data_holder__title">
                Description
            </div>
            <div class="data_holder__content">
                {{schoolSubject.description}}
            </div>
            <div class="data_holder__title">
                Type
            </div>
            <div class="data_holder__content">
                {{  schoolSubject.subjectType  }}
            </div>
        </div>


        <button (click)="openModal()">Create course</button>
    </div>