<div class="page-section">
  <div class="media v-middle">
    <div class="media-body">
      <h1 class="text-headline margin-none">Course grades</h1>
      <p class="text-subhead">Students' grades and average course grade.</p>
    </div>
  </div>
</div>
<div class="teacher-grade-table">
  <table class="table is-bordered is-fullwidth">
    <thead>
    <tr class="is-primary-light">
      <th>Student name</th>
      <th>Grade</th>
    </tr>
    </thead>
    <tfoot>
    <tr class="is-success-light">
      <th colspan="2">Average course grade: C</th>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td><a routerLink="../grade">John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a routerLink="../grade">John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a routerLink="../grade">John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a routerLink="../grade">John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a routerLink="../grade">John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    <tr>
      <td><a>John Doe</a></td>
      <td>A</td>
    </tr>
    </tbody>
  </table>
</div>
