<div class="page-section">
  <div class="media v-middle">
    <div class="media-body">
      <h1 class="text-headline margin-none">Forum</h1>
      <p class="text-subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.</p>
    </div>
    <div class="media-right">
      <button class="button is-white" data-z="0.5" data-hover-z="1" data-animated><i class="fa fa-fw fa-plus"></i> New Topic</button>
    </div>
  </div>
</div>
<div class="item col-xs-12 col-lg-12">
  <div class="panel panel-default paper-shadow" data-z="0.5">
    <ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button routerLink="../post" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a href="app-course-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
          </h4>
          <div class="text-light text-caption">
            posted by
            <a href="#">
              Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
          </div>
        </div>
        <div class="media-right">
          <button href="app-course-forum-thread.html" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i> 3</button>
        </div>
      </li>
    </ul>
  </div>
</div>
