<div class="page-section">
  <div class="media v-middle">
    <div class="media-body">
      <h1 class="text-headline margin-none">Forum</h1>
      <p class="text-subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.</p>
    </div>
    <div class="media-right">
      <button (click)="openModal()" class="button is-white" data-z="0.5" data-hover-z="1" data-animated><i class="fa fa-fw fa-plus"></i> New Topic</button>
    </div>
  </div>
</div>
<div class="item col-xs-12 col-lg-12">
  <div class="panel panel-default paper-shadow" data-z="0.5">
    <ul *ngFor="let forumPost of forumPosts" class="list-group relative paper-shadow" data-hover-z="0.5" data-animated>
      <li class="list-group-item v-middle">
        <div class="media-body">
          <h4 class="text-subhead margin-none">
            <a routerLink="../../post/{{forumPost.id}}" class="link-text-color">{{forumPost.title}}</a>
          </h4>
          <div class="text-light text-caption">
            posted by
              {{forumPost.authorId.firstName}} {{forumPost.authorId.firstName}} &nbsp; | <i class="fa fa-clock-o fa-fw"></i> {{forumPost.createDateTime}}
          </div>
        </div>
        <div class="media-right">
          <button routerLink="../../post/{{forumPost.id}}" class="button is-white text-light"><i class="fa fa-comments fa-fw"></i></button>
        </div>
      </li>
    </ul>
  </div>
</div>
