<div class="page-section">
  <div class="media v-middle">
    <div class="media-body">
      <h1 class="text-headline margin-none">Course grade / Student name</h1>
      <p class="text-subhead">Grades for each activity and final grade.</p>
    </div>
  </div>
</div>
<div class="student-grade-table">
  <table class="table is-bordered is-fullwidth">
    <thead>
    <tr class="is-primary-light">
      <th>Activity name</th>
      <th>Activity type</th>
      <th>Grade System</th>
      <th>Grade</th>
      <th>Feedback</th>
    </tr>
    </thead>
    <tfoot>
    <tr class="is-success-light">
      <th colspan="5">Final grade: A</th>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td>Leicester City</td>
      <td>38</td>
      <td>23</td>
      <td>12</td>
      <td>Qualification for theChampions League group stage</td>
    </tr>
    <tr class="is-danger-light">
      <td>Leicester City</td>
      <td>38</td>
      <td>23</td>
      <td>12</td>
      <td>Qualification for theChampions League group stage</td>
    </tr>
    <tr>
      <td>Leicester City</td>
      <td>38</td>
      <td>23</td>
      <td>12</td>
      <td>Qualification for theChampions League group stage</td>
    </tr>
    <tr>
      <td>Leicester City</td>
      <td>38</td>
      <td>23</td>
      <td>12</td>
      <td>Qualification for theChampions League group stage</td>
    </tr>
    </tbody>
  </table>
</div>

