<div class="title">
    {{this.data.schoolClass ? 'Edit' : 'New' }} Class
</div>

<form [formGroup]="schoolClassConfigurationForm">
    <div class="form-group">
        <label for="name">
            Name
        </label>
        <input class="form-control" type="text" formControlName="name" name="name" id="name" required />
    </div>

    <div *ngIf="this.data.schoolClass" class="form-group">
        <label for="status">
            Status
        </label>
        <select formControlName="status" name="status" class="form-control" id="status" required>
            <option *ngFor="let status of getSchoolClassStatus()" [value]="status">{{status}}</option>
        </select>
    </div>

    <button (click)="submitForm()" [disabled]="!schoolClassConfigurationForm.valid"
        class="button is-primary">{{ this.data.schoolClass ? 'Save' : 'Create' }}</button>
</form>