<div class="list_item_details__container">

    <div class="title">
        School Details
    </div>

    <div class="school_content">
        <div class="data_holder">
            <div class="data_holder__title">
                Name
            </div>

            <div *ngIf="school" class="data_holder__content">
                {{  school.name }}
            </div>
        </div>

        <div class="data_holder">
            <div class="data_holder__title">
                City
            </div>

            <div *ngIf="school" class="data_holder__content">
                {{  school.city }}
            </div>
        </div>

        <div class="data_holder">
            <div class="data_holder__title">
                Address
            </div>

            <div *ngIf="school" class="data_holder__content">
                {{  school.address }}
            </div>
        </div>

        <div class="data_holder">
            <div class="data_holder__title">
                School type
            </div>

            <div *ngIf="school" class="data_holder__content">
                {{  school.schoolType }}
            </div>
        </div>

        <div class="data_holder">
            <div class="data_holder__title">
                School creation date
            </div>

            <div *ngIf="school" class="data_holder__content">
                {{  school.schoolCreationDate.toLocaleString("en-GB", {month:'short', day:'numeric', year:'numeric'}) }}
            </div>
        </div>

        <div class="btns_holder">
            <button class="button is-info btn_edit" (click)="edit()">
                Edit
            </button>
            <button class="button is-danger" (click)="delete()"> 
                Delete
            </button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>