<section class="section main-container calendar-main-container">
  <app-header></app-header>

  <div class="container">
    <div class="columns">
      <div class="column is-3-desktop">
        <app-sidebar></app-sidebar>
      </div>
      <div class="column is-9-desktop st-pusher" style="width:90%"id="content">
      <div class="st-content" style="overflow: scroll">

          <!-- extra div for emulating position:fixed of the menu -->
          <div class="st-content-inner padding-none">

            <div class="container-fluid">

              <div class="list_item_details__container">

                <div class="title">
                  Detajet e Shkollës
                </div>

                <div class="school_content">
                  <div class="data_holder">
                    <div class="data_holder__title">
                      Emri
                    </div>

                    <div *ngIf="school" class="data_holder__content">
                      {{  school.name }}
                    </div>
                  </div>

                  <div class="data_holder">
                    <div class="data_holder__title">
                      Qyteti
                    </div>

                    <div *ngIf="school" class="data_holder__content">
                      {{  school.city }}
                    </div>
                  </div>

                  <div class="data_holder">
                    <div class="data_holder__title">
                      Adresa
                    </div>

                    <div *ngIf="school" class="data_holder__content">
                      {{  school.address }}
                    </div>
                  </div>

                  <div class="data_holder">
                    <div class="data_holder__title">
                      Tipi i Shkollës
                    </div>

                    <div *ngIf="school" class="data_holder__content">
                      {{  school.schoolType }}
                    </div>
                  </div>

                  <div class="data_holder">
                    <div class="data_holder__title">
                      Data e krijimit të Shkollës
                    </div>

                    <div *ngIf="school" class="data_holder__content">
                      {{  school.schoolCreationDate.toLocaleString("en-GB", {
                      month: 'short',
                      day: 'numeric',
                      year: 'numeric'
                    }) }}
                    </div>
                  </div>

                  <div class="btns_holder">
                    <button class="button is-success btn_edit" (click)="edit()">
                      Edit
                    </button>
                    <button class="button is-danger" (click)="delete()">
                      Fshij
                    </button>
                  </div>
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
