<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Create a new meeting</h1>

    <input
      class="input has-background-light is-medium input-fields"
      type="text"
      placeholder="Enter meeting title..."
    />
    <input
      class="input has-background-light is-medium input-fields"
      type="text"
      placeholder="Enter meeting description..."
    />
    <input
      class="input has-background-light is-medium input-fields"
      type="text"
      placeholder="Enter start date(2020-10-10 19:15:30)..."
    />
    <input
      class="input has-background-light is-medium input-fields"
      type="text"
      placeholder="Enter end date(2020-10-10 19:15:30)..."
    />
    <input
      class="input has-background-light is-medium input-fields"
      type="text"
      placeholder="Enter meeting place..."
    />
    <input
      class="input has-background-light is-medium input-fields"
      type="text"
      placeholder="Add comment..."
    />
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select name="country">
          <option value="Vedat">Vedat</option>
          <option value="Rinor">Rinor</option>
          <option value="Jehona">Jehona</option>
          <option value="Ilir">Ilir</option>
        </select>
      </div>
    </div>
    <br />
    <div class="control">
      <h6 class="subtitle is-6">Is it a online meeting?</h6>
      <label class="radio">
        <input type="radio" name="rsvp" />
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="rsvp" />
        No
      </label>
    </div>
    <div class="buttons is-right input-fields">
      <button class="button is-medium" routerLink="/meetings">Cancel</button>
      <button class="button is-medium is-success" routerLink="/meetings">
        Create
      </button>
    </div>
  </div>
</div>
